body{ 
    text-align: center;
    margin:0 10% 0 10%;
background-color: black;
color:white;
font-family: Arial, Helvetica, sans-serif;
    
}

.box {
    height:100vh;
    display:flex;
    margin: 20%;
}
.box >div {
    animation: anim 5s linear infinite alternate;
}

.exp1{
background-color:white;
height:8rem;
width:20px;
animation: anim 5s linear infinite alternate;

}

.exp2{
background-color:white;
height:3rem;
width:20px;
margin-bottom:40px;
animation: anim2 5s linear infinite alternate;

}

.segment{
    border:solid 2px white;
    border-right:0px;
    height:8rem;
    width:50px;
    animation-name: anim2, anim3;
    animation-duration: 2s,2s;
    animation-iteration-count: infinite; 

}
.seg-2{
    border: 40px solid white;
    border-right:0px;
    border-left:0px;
    height:4rem;
    width:100px;
    animation-name: anim, anim3;
    animation-duration: 2s,2s;
    animation-iteration-count: infinite;

}

/*second*/
.exp-3{
    background-color:white;
    height:8rem;
    width:100px;
    border-radius:20px;
    animation: anim 5s linear infinite alternate;

}
.exp-4{
    background-color:white;
    height:3rem;
    width:200px;
    margin-bottom:40px;
    border-radius:20px;
    animation: anim2 5s linear infinite alternate;

}

.exp-5{
    background-color:black;
    height:8rem;
    width:100px;
}

.exp-5{
    background-color:white;
    height:8rem;
    width:150px;
    animation: anim 5s linear infinite alternate;

}
.seg-3{
    border: 10px solid white;
    border-right:0px;
    border-left:0px;
    height:8rem;
    width:600px;
    animation-name: anim2, anim3;
    animation-duration: 2s,2s;
    animation-iteration-count: infinite;

}
.seg-4{
    border: 10px solid white;
    border-right:0px;
    border-left:0px;
    height:7rem;
    width:50px;
    border-radius:5px;
    animation-name: anim, anim3;
    animation-duration: 2s,2s;
    animation-iteration-count: infinite;

}

.seg-5{
    border: 50px solid white;
    border-right:0px;
    border-left:0px;
    height:2rem;
    width:200px;
    border-radius:5px;
    animation-name: anim, anim3;
    animation-duration: 2s,5s;
    animation-iteration-count: infinite;

}

/*rotate*/
#second{
    transition-duration: 2s;
    transform: skewX(-20deg) scaleY(2);
}

#second:hover{
    transition-duration: 2s;
    transform: skewX(20deg) scaleY(2);
}
#third{
    transition-duration: 2s;
    transform: rotate(-10deg) scale(0.5,1.4);
}
#third:hover{
    transition-duration: 2s;
    transform: rotate(10deg) scale(0.5,1.4);
}
#fourth{
    transition-duration: 2s;
    transform: skewX(20deg) scaleY(2);
}
#fourth:hover{
    transition-duration: 2s;
    transform: skewX(-20deg) scaleY(2);
}
#fifth{
    transition-duration: 2s;
    transform: rotate(40deg) skewY(-20deg);
}
#fifth:hover{
    transition-duration: 2s;
    transform: rotate(-40deg) skewY(-20deg);
}

/*animate*/
@keyframes anim {
    0%   {width:10px}
    75%  {width:500px }
    100% { width:800px}
  }

  @keyframes anim2 {
    0%   {width:10px}
    75%  {width:100px }
    100% { width:10px}
  }

  @keyframes anim3 {
    0%   {border:10px}
    75%  {border:100px }
    100% { border:200px}
  }

  @keyframes anim4 {
    0%   {width:10px}
    75%  {width:100px }
    100% { width:10px}
  }